<!-- Navbar -->
<nav
  id="navbar"
  class="flex flex-wrap items-center justify-between w-full py-0 px-4 text-lg text-gray-700 bg-white font-bold"
>
  <div class="order-first">
    <a class="md:p-4 py-2 block hover:text-gray-400 text-xl" href="/">Home</a>
  </div>
  <div class="order-last">
    {% if "user_name" in session %}
    <div class="flex flex-row items-center">
      <p class="md:p-4 py-2 block text-sm">
        Hello, {{ session["user_name"] }}
      </p>

      <form
        action="/logout"
        method="post">
          <button class="bg-gray-500 text-sm capitalize text-white px-2 py-1 rounded">Logout</button>
      </form>
    </div>
    {% else %}
    <form
      action="/login"
      method="post"
      class="flex flex-row"
    >
      <button class="bg-gray-500 text-sm capitalize text-white px-2 py-1 rounded">Login with Github</button>
    </form>
    {% endif %}
  </div>
</nav>
<!-- Navbar -->
